body {
    color: #5d5d5d;
    font-family: Helvetica, Arial, sans-serif;
    background: #f1f1f1;
}

.map_path {
    stroke:#ced8d0;
    fill:#f4f4e8;
    transition: 1s linear;
}

.map_path.highlight {
    fill: red;
}

.container {
    width: 1000px;
    margin: auto;
    background: #fff;
}

.header {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0px 3px;
    color: #5a5a5a;
    font-weight: bold;
}

.mapcontainer {
    padding: 3px;
}