body {
    color: #5d5d5d;
    font-family: Helvetica, Arial, sans-serif;
    background: #344955;
}

.area {
    stroke:#2b3d47;
    fill:#344955;
    transition: 1s linear;
}

.area.highlight {
    fill: red;
}

.container {
    width: 1000px;
    margin: auto;
    background: #2b3d47;
}

.header {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #344955;
    padding: 0px 3px;
    color: #fff;
    font-weight: bold;
}

.mapcontainer {
    padding: 3px;
}