.node circle.open {
  stroke:#a5a5a5;
}

.node circle.close {
  stroke: #fff;
}

.node text {
  fill: #ccc;
}

.link {
  stroke: #a5a5a5;
}

.node.cluster circle {
  fill: #344955;
}

.node.persistor circle {
  fill: #3658b7;
}

.node.host circle {
  fill: #1583a0;
}

.node.correlator circle {
  fill: #738a57;
}

.node.aggregator circle {
  fill: #1c5434;
}

/*hight light*/
.highlight circle {
  /*fill: #5c727e !important;*/
  stroke: #d2633b !important;
}

.highlight.node.host circle {
  /*fill: #65b069 !important;*/
  stroke: #d2633b !important;
}

.highlight.node.persistor circle {
  /*fill: #5f78be !important;*/
  stroke: #d2633b !important;
}

.highlight.node.correlator circle {
  /*fill: #919698 !important;*/
  stroke: #d2633b !important;
}

.highlight.node.aggregator circle {
  /*fill: #41b3d1 !important;*/
  stroke: #d2633b !important;
}


.link.highlight {
  stroke: #d2633b !important;
}

/*on click*/
.highlightKeep circle {
  /*fill: #1b262c !important;*/
  stroke: #cc0e0e !important;
}

.highlightKeep.node.correlator circle {
  /*fill: #394b51 !important;*/
  stroke: #cc0e0e !important;
}

.highlightKeep.node.persistor circle {
  /*fill: #274fbc !important;*/
  stroke: #cc0e0e !important;
}

.highlightKeep.node.host circle {
  /*fill: #007006 !important;*/
  stroke: #cc0e0e !important;
}

.highlightKeep.node.aggregator circle {
  /*fill: #066d82 !important;*/
  stroke: #cc0e0e !important;
}

.link.highlightKeep {
  stroke: #cc0e0e !important;
}

