$opacityHover: 20%;
$opacityClose: 70%;
$mixColor: #fff;

$link: #99ccff;
$text: #616264;
$node: #425563;
$cluster: #2587db;
$host: #937fdd;

$active: #01a982;
$warning: #ffd042;
$error: #ff454f;

@import "dcscommon.scss";