.trendview {
    background: #344955;
}

.trendview text{
    fill: #fff;
    stroke-width: 0;
    font-size: 15px;
}

.trendview .trendLineChart {
    stroke-width: 1px;
    stroke: rgb(255, 255, 0);
    fill: none;
}