.machine {
    fill: black;
}

.link {
    stroke: pink;
    fill: none;
}

.link-highlight {
    stroke: yellow;stroke-width: 3px;
}

.event {
    fill: black;
}

.event-group .text {
    font-size: 14px;
    fill: white;
}

.group {
    overflow: hidden;
}

.group-highlight .event,
.event-highlight {
    fill: red !important;
}

.group-highlight .machine,
.machine-highlight {
    fill: red !important;
}

.group-highlight .text,
.event-text-highlight {
    fill: black !important;
}