.machine {
    stroke: steelblue;
    stroke-width: 2px;
    fill: pink;
}

.machine.source {
    fill: whitesmoke;
}

.machine.target {
    /*    fill: white;*/
}

.link {
    stroke: pink;
    fill: none;
}

.link-highlight {
    stroke: #FD6E6E;
    stroke-width: 3px;
}

.event {
    fill: steelblue;
    stroke: pink;
    stroke-width: 2px;
}

.group {
    overflow: hidden;
}

.text {
    stroke-width: 1px !important
}

.textbg {
    stroke: white !important;
    stroke-width: 5px !important
}

.group-highlight .event,
.event-highlight {
    fill: yellow !important;
    stroke: red;
}

.group-highlight .machine,
.machine-highlight {
    fill: yellow !important;
    stroke: red;
}

.group-highlight .text {
    fill: steelblue;
}