.machine {
    stroke: steelblue;
    stroke-width: 2px;
    fill: pink;
}

.link {
    stroke: pink;
    fill: none;
}

.link-highlight {
    stroke: #FD6E6E;
    stroke-width: 3px;
}

.event {
    fill: steelblue;
    stroke-width: 2px;
}

.event-group .text {
    font-size: 14px;
    fill: white;
}

.group {
    overflow: hidden;
}

.group-highlight .event,
.event-highlight {
    fill: yellow !important;
    stroke: red;
}

.group-highlight .machine,
.machine-highlight {
    fill: yellow !important;
    stroke: red;
}

.group-highlight .text,
.event-text-highlight {
    fill: black !important;
}