.hidden {
    display: none;
}

.legend-container {
    text-align: center;
}

.legend-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.buttons-svg {
    background: red;
}

.homeGroup {
    cursor: pointer;
    fill: #5a5a5a;
}

.homeImage {
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 1px;
    fill: #000000;
}

.homeButton {
    opacity: 0;
}

.graphBox {
    fill: #f0f0ef;
    stroke-width: 1px;
}

.graphBoxEvent {
    stroke: #b2b2b2;
}

.graphBoxSource {
    stroke: #01a982;
}

.graphBoxTarget {
    stroke: #241bf7;
}

.graphBox-highlight {
    fill: yellow;
    stroke: #ff0000;
}


/*eventgraph-container*/

.eventgraph-container {
    text-align: center;
    position: relative;
}

.L3-group:hover,
.source-group:hover,
.target-group:hover,
.event-group:hover,
.machine:hover,
.event:hover {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.machine {
    stroke: #01a982;
    stroke-width: 3px;
    fill: white;
}

.machine.source {
    stroke: #01a982;
}

.machine.target {
    stroke: #241bf7;
}

line {
    stroke: pink;
}

.link {
    stroke: #ffcad3;
    fill: none;
}

.linkx {
    stroke: #ffcad3;
    fill: none;
}

.link-highlight,
line.link-highlight {
    stroke: #fd6e6e;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.event {
    fill: #f0f0ef;
    stroke: #b2b2b2;
    stroke-width: 1px;
}

.group {
    overflow: hidden;
}

.event-combine-group rect {
    fill: #f0f0ef;
    stroke: #b2b2b2;
    stroke-width: 1px;
}

.event-combine-group:hover rect {
    stroke: #ff0000;
    stroke-width: 3px;
}

.machine-combine-group:hover circle {
    stroke: #ff0000;
    stroke-width: 3px;
}

.machine-combine-group.source circle {
    fill: #01a982;
}

.machine-combine-group.target circle {
    fill: #241bf7;
}

.machine-combine-group text {
    fill: #fff;
}

.eventgraph-container text {
    font-size: 14px;
}

.text {
    stroke-width: 1px !important;
    font-size: 14px;
}

.textbg {
    stroke: white !important;
    stroke-width: 5px !important
}

.group-highlight .event,
.event-highlight {
    fill: yellow !important;
    stroke: #ff0000;
}

.group-highlight .machine,
.machine-highlight {
    fill: yellow !important;
    stroke: #ff0000;
}

.group-highlight .text {}


/*context menu*/

#temporaryHiddenInput {
    display: hidden;
}