.legend-container {
    text-align: center;
}

.legend-container #legend {
    float: left;
}

.legend-container #buttons {}

.legend-container .playGroup {
    cursor: pointer;
}

.legend-container .playGroup path {
    fill: #5a5a5a;
}

.legend-container .homeGroup {
    cursor: pointer;
    fill: #5a5a5a;
}

.legend-container .homeGroup text {
    font-size: 14px;
}

.legend-container .homeGroup.on text {
    fill: #b2b2b2;
}

.legend-container .homeGroup.off text {}

.legend-container .eventgraph-button {
    fill: #f0f0ef;
    stroke: #b2b2b2;
    stroke-width: 1px;
}


/*eventgraph-container*/

.eventgraph-container {
    text-align: center;
}

.eventgraph-container #eventgraph {}

.machine:hover,
.event:hover {
    cursor: pointer;
}

.machine {
    stroke: #01a982;
    stroke-width: 3px;
    fill: white;
}

.machine.source {
    stroke: #01a982;
}

.machine.target {
    stroke: #241bf7;
}

line {
    stroke: pink;
}

.link {
    stroke: pink;
    fill: none;
}

.linkx {
    stroke: pink;
    fill: none;
}

.link-highlight {
    stroke: #FD6E6E;
    stroke-width: 3px;
}

.event {
    fill: #f0f0ef;
    stroke: #b2b2b2;
    stroke-width: 1px;
}

.group {
    overflow: hidden;
}


/*
.L0-group .source {
    fill: #01a982;
}

.L0-group .target {
    fill: #241bf7;
}
*/

.even-combine-group rect {
    stroke: #f0f0ef;
}

.machine-combine-group.source circle {
    fill: #01a982;
}

.machine-combine-group.source text {
    fill: #241bf7;
}

.machine-combine-group.target circle {
    fill: #241bf7;
}

.machine-combine-group.target text {
    fill: #fff;
}

.eventgraph-container text {
    font-size: 14px;
}

.text {
    stroke-width: 1px !important;
    font-size: 14px;
}

.textbg {
    stroke: white !important;
    stroke-width: 5px !important
}

.group-highlight .event,
.event-highlight {
    fill: yellow !important;
    stroke: #ff0000;
}

.group-highlight .machine,
.machine-highlight {
    fill: yellow !important;
    stroke: red;
}

.group-highlight .text {
    fill: steelblue;
}