.trendview {
    background: #f1f1f1;
}

.trendview .titleGroup text{
    fill: #000;
}

.trendview .trendLineChart {
    stroke: rgba(255, 0, 0, 0.5);
}

.trendview .trendLineChartFill {
    stroke-width: 0px;
    fill: rgba(233, 138, 138, 0.5);;
}