.container {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #888;
}

.header {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0px 3px;
    color: #5a5a5a;
    font-weight: bold;
}

.geomap {
    padding: 3px;
}