/*@import url("css/conceptmap.css");*/


/*@import url("css/conceptmap_tm.css");*/


/*@import url("css/conceptmap_bw.css");*/

@import url("css/clean.css");
@import url("css/eventgraph.css");
.hidden {
    display: none;
}

.tooltip {
    position: fixed;
    top: 10;
    left: 10;
    background: white;
    border: 1px solid red;
    padding: 3px;
    border-radius: 5px;
    color: black;
}

.graph-container {
    width: 50%;
    height: 100vh;
    float: left;
    overflow: auto;
}

.graph-container:first-child {
    width: calc(50% - 1px);
    border-right: 1px solid black;
}

.legend-svg {
    float: left;
}