/*@import url("css/conceptmap.css");*/


/*@import url("css/conceptmap_tm.css");*/


/*@import url("css/conceptmap_bw.css");*/

@import url("css/eventgraph.css");
.hidden {
    display: none;
}

.tooltip {
    position: fixed;
    top: 10;
    left: 10;
    /*    background: rgba(0, 0, 0, 0.5);*/
    background: white;
    border: 1px solid red;
    padding: 3px;
    border-radius: 5px;
    color: black;
}