.hidden {
    display: none;
}

.link {
    /*    stroke: rgb(224, 243, 248);*/
    /*    stroke: rgb(253, 174, 97);*/
    /*    stroke: rgb(215, 48, 39);*/
    stroke: pink;
    fill: none;
}

.link-highlight {
    stroke: #FD6E6E;
    stroke-width: 2px;
}

.circle {
    fill: steelblue;
}

.circle-highlight {
    fill: red;
}

.rect {
    fill: steelblue;
}

.rect-highlight {
    fill: red !important;
}

.tooltip {
    position: fixed;
    top: 10;
    left: 10;
    background: pink;
    padding: 3px;
    border-radius: 5px;
}