body {
    background: #344955;
}

#detail {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  min-width: 1000px;
}

#tree {
  width: 550px;
}

#detail {
  border-left: 1px solid #c6c6c6;
  width: calc(100% - 700px);
  padding: 5px;
}

.node text {
  font-family: sans-serif;
}