.link {
  stroke: #99ccff;
}

.node circle.open {
  stroke: #99ccff;
}

.node circle.close {
  stroke: #002d82;
}

.node text {
  fill: #616264;
}

.node.cluster circle {
  fill: #fff;
}

.node.persistor circle {
  fill: #3f70f9;
}

.node.host circle {
  fill: #6cb5d8;
}

.node.correlator circle {
  fill: #ffe8b5;
}

.node.aggregator circle {
  fill: #afe19e;
}

/*fade out*/
.node-fade-keep,
.node-fade-keep *,
.node-fade,
.node-fade * {
  opacity: 0.3;
}
