.node {
    cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #99ccff;
  stroke-width: 1.5px;
}

.node text {
  font-size: 13px;
  user-select: none;
}

.link {
  fill: none;
  stroke-width: 1.5px;
}