.geomap.socview .area {
    transition: 1s linear;
}

.geomap .location.source {
    stroke: red;
}

.geomap .location.target {
    stroke: green;
}

.geomap .location.source_target {
    stroke: orange;
}