.geomap .node_text {
    fill: #000;
}

.geomap .link {
    stroke: rgba(0, 0, 255, 0.5);
}

.geomap .area {
    stroke:#ced8d0;
    fill:#f4f4e8;
}

.geomap .area.highlight {
    fill: #00c9ff;
}

.geomap .legend_title {
    fill: #000;
}

.geomap .legend_label {
    fill: #000;
}

.geomap .location.source {
    fill: red;
}

.geomap .location.target {
    fill: green;
}

.geomap .location.source_target {
    fill: orange;
}