.geomap.socview .area {
    transition: 1s linear;
}

.geomap .location.source {
    /* fill: red; */
    stroke: red;
}

.geomap .location.target {
    /* fill: green; */
    stroke: green;
}

.geomap .location.source_target {
    /* fill: orange; */
    stroke: orange;
}