$opacityHover: 20%;
$opacityClose: 70%;
$mixColor: #2b3d47;

$link: #8f9ba2;
$text: #cccccc;
$node: #8f9ba2;
$cluster: #2587db;
$host: #937fdd;
$hostPersistor: #ec5bfd;

$active: #01a982;
$warning: #ffd042;
$error: #ff454f;

@import "../as/dcscommon.scss";
