/* normal style */
.link {
  stroke: $link;
}

.node {
  text {
    fill: $text;
  }
  
  circle {
    fill: $mixColor;
    stroke: $node;
  }

  &.active circle {
    stroke: $active;
  }

  &.warning circle {
    stroke: $warning;
  }

  &.error circle {
    stroke: $error;
  }
  
  &.cluster circle {
    stroke: $cluster;
  }
  
  &.host circle {
    stroke: $host;
  }
  
  &.cluster.close circle {
    stroke: mix($cluster, $mixColor, $opacityClose);
  }
  
  &.host.close circle {
    stroke: mix($host, $mixColor, $opacityClose);
  }
  
  &.persistor.close circle {
    stroke: mix($node, $mixColor, $opacityClose);
  }
}

/*fade out style*/
.node-fade,
.node-fade-keep {
  &.link {
    stroke: mix($link, $mixColor, $opacityHover);
  }

  text {
    fill: mix($text, $mixColor, $opacityHover);
  }

  circle {
    stroke: mix($node, $mixColor, $opacityHover);
  }

  &.active circle {
    stroke: mix($active, $mixColor, $opacityHover);
  }

  &.warning circle {
    stroke: mix($warning, $mixColor, $opacityHover);
  }

  &.error circle {
    stroke: mix($error, $mixColor, $opacityHover);
  }

  &.cluster circle {
    stroke: mix($cluster, $mixColor, $opacityHover);
  }
  
  &.host circle {
    stroke: mix($host, $mixColor, $opacityHover);
  }
  
  &.cluster.close circle {
    stroke: mix($cluster, $mixColor, $opacityHover);
  }
  
  &.host.close circle {
    stroke: mix($host, $mixColor, $opacityHover);
  }
  
  &.persistor.close circle {
    stroke: mix($node, $mixColor, $opacityHover);
  }
}

